@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@tailwind utilities;

.scrollable {
    overflow-y: auto;
    max-height: 100vh;
}


.scrollable-preview {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}